
body {
    line-height: 1.3;
    font-family: serif;
}

.wrapper {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 650px;
}
h1 {
    font-size: 2em;
    font-weight: normal;
    font-style: italic;
}
#keyoutput {
    font-size: 5em;
    display: inline-block;
    letter-spacing: 0.2em;
    margin: 10px 0;
    font-family: monospace, sans-serif;
    white-space: nowrap;
    text-transform: uppercase;
    vertical-align: middle;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
#keygen, .downloadlink, #choosebtn, input[type="submit"] {
    background: #CCC;
    border: none;
    color: black;
    font-style: italic;
    padding: 0.6em 1.3em;
    line-height: 1.6;
    display: inline-block;
    font-family: inherit;
    font-size: 1.2em;
    margin: 0 0.5em;
    vertical-align: middle;
    cursor: pointer;
    font-weight: normal;
}
#keygen {
    margin-left: 1em;
    margin-right: -2em;
    padding: 1em;
}
#keygen:focus, #downloadlink:focus, #choosebtn:focus, input[type="submit"]:focus,
#keygen:active, #downloadlink:active, #choosebtn:active, input[type="submit"]:active {
    background: black;
    color: white;
}
#keygen svg {
    display: block;
    width: 1.5em;
    height: 1.5em;
}
.downloadlink {
    margin: 0.5em;
}
#downloads {
    display: none;
}




#keyinput {
    font-size: 4em;
    width: 3.5em;
    text-align: center;
    font-family: monospace;
    letter-spacing: 0.1em;
}

input[type="url"], input[type="text"] {
    background: white;
    border: 1px solid #AAA;
    padding: 5px;
    font-family: serif;
}

#uploadstatus {
    opacity: 0;
    transition: opacity .5s ease-in-out;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    line-height: 1.7;
}

#uploadstatus.success {
    background-color: #DFD;
    border: 1px solid #7F7;
}

#uploadstatus.error {
    background-color: #FDD;
    border: 1px solid #F77;
}
td {
    padding: 10px;
}

td.aligntop {
    vertical-align: top;
}

#fileinput {
    display: none;
}

#fileinfo {
    font-size: 0.9em;
    font-style: italic;
    width: 18em;
}